@using BrightApricot.Client.Enums
<div class="RecipeView">
    <RecipeDetailView Recipe="@ViewRecipe" /> @*Image and description*@
    <div class="Cards">
        <InfoCard 
            Title="Ingredients" 
            List="@ViewRecipe.Ingredients.Select(i => i.PrintString).ToList()" 
            ListType="@ListType.Unordered"/> @*Ingredient List *@

        <InfoCard 
            Title="Instructions" 
            List="@ViewRecipe.Instructions.Select(i => i.CompleteDescription).ToList()" 
            ListType="@ListType.Ordered"/> @*Instruction List*@
    </div>
    

</div>



@code {
    [Parameter]
    public Recipe ViewRecipe { get; set; }

    
}
